html {
	background:  #E4DFDE  ;

	}

p {
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	}

div.container {
	margin: 0 auto;
	padding: 1rem 2rem;
	max-width: 48rem;
}

div.logo {
	float: left;
}

div.header {
	border-bottom: 3px solid #544;
	margin-bottom: 30px;
	padding: 12px 0px;
}

div.header .navigation {
	text-align: right;
}

div.header .navigation a {
	color: #544;
	font-size: 20px;
	font-weight: bold;
	margin-left: 12px;
	text-decoration: none;
	text-transform: uppercase;
}

a {
	color: #544;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}

h1 {
	font-size: 33px;
	color: #544;
}

div.info {
color: #544;
font-size: 16px;
font-style: italic;
}
