.content {
    width:400px;
    margin:0 auto;
    text-align: center;
    margin-top:100px;
}
h2 {
    margin-bottom:50px;
}
.buyed .item-name {
    text-decoration: line-through;
}

.sort-buttons button {
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}